.notificationBar{
    --notiwidth: 20vw;
    position: absolute;
    width: var(--notiwidth);
    height: calc(100vh - 100%);
    background-color: rgba(36, 36, 36, 0.829);
    bottom: 100%;
    right: calc(var(--notiwidth) * -1);
    transition: 0.6s;
}